{% extends 'base.html' %}
{% block content %}
<h2>Edit Address</h2>
<form method="POST">
    <div class="mb-3">
        <label>House Number</label>
        <input type="text" name="house_number" class="form-control" value="{{ address.house_number }}">
    </div>
    <div class="mb-3">
        <label>Street</label>
        <input type="text" name="street" class="form-control" value="{{ address.street }}">
    </div>
    <div class="mb-3">
        <label>Town</label>
        <input type="text" name="town" class="form-control" value="{{ address.town }}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}